@*modify prod for admin*@

@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@


@{
    Layout = "_ProductLayout";
}


@model IEnumerable<E_Commerce.Areas.Products.Models.Product>

@{
    ViewData["Title"] = "DetailsByCategory";
    var reopFavourites = ViewBag.favRepo;
    var prodNum = Model.Count() % 12;
}
<h1>All Products</h1>

<div class="col-lg-9">
    <div class="row">
        <table class="table">

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg">
                                    <img class="product__item__pic" src=@Html.DisplayFor(modelItem => item.ImagesString) alt="">
                                    <ul class="product__hover">
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
                                </div>
                            </div>
                        </div>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-12">
                <div class="product__pagination">
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <span>...</span>
                    <a href="#">21</a>
                </div>
            </div>
        </div>
    </div>
</div>
