@model IEnumerable<E_Commerce.Areas.FavouriteItems.Models.FavouriteItemsRelation>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<body>

    <h4>All fav products of @Html.DisplayNameFor(model => model.E_CommerceUser.FirstName)</h4>


    <table class="table">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.Product)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>

                        <img src="@item.Product.ImagesString" width="150px" height="200px">
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "DeleteFav", new {custId= item.E_CommerceUser.Id,prodId = item.Product.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>