@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "GetCartForCustomer";
    Layout = "_innerLayout";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
    <div class="loader"></div>
    </div>*@
    <!--Page Preloader End-->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                            <a href="@Url.Action("man", "Home")">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*  <tr>
                                <td class="product__cart__item">
                                <div class="product__cart__item__pic">
                                <img src="~/assets/img/shopping-cart/cart-1.jpg" alt="">
                                </div>
                                <div class="product__cart__item__text">
                                <h6>T-shirt Contrast Pocket</h6>
                                <h5>$98.49</h5>
                                </div>
                                </td>
                                <td class="quantity__item">
                                <div class="quantity">
                                <div class="pro-qty-2">
                                <input type="text" value="1">
                                </div>
                                </div>
                                </td>
                                <td class="cart__price">$ 30.00</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>*@
                                @{
                                    int sum = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @* <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td><img src="@item.imageString" alt="Product Image" /></td>
                                    <td>@item.Quantity</td>
                                    <td>@item.CartId</td>*@
                                        <td class="product_cart_item">
                                            <div class="product_cartitem_pic">
                                                <img class="product__cart__item__pic" src="@item.imageString" alt="" style="height:200px;height:150px;">
                                            </div>
                                            <div class="product_cartitem_text">
                                                <h6>@item.Name</h6>
                                                <h5>@item.Price</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div>
                                                    <label>@item.Quantity</label>
                                                    @*<input type="text" value="@item.Quantity">*@
                                                </div>
                                            </div>
                                        </td>
                                        @(sum += (item.Price * item.Quantity));
                                        <td class="cart__price">@((item.Price * item.Quantity).ToString())</td>
                                        <td>

                                        @{
                                            string userId = string.Empty;
                                            if (User.Claims.Count() != 0)
                                            {
                                            //@if (SignInManager.IsSignedIn(User))
                                                // Get the currently logged in user
                                                userId = User.Claims.ToList()[0].Value;
                                            }
                                            string customerId = userId;
                                                int productId = item.productID;

                                            //int productId = item.Id;
                                            int quantity = 1000000;

                                            string url = "/cart/{customerId}/RemoveFromCart/{productId}/{quantity}";
                                            url = url.Replace("{customerId}", customerId)
                                            .Replace("{productId}", productId.ToString())
                                            .Replace("{quantity}", quantity.ToString());
                                        }
                                        @*<td class="cart__close"><a class="fa fa-close">Remove</a></td>*@
                                        @*<i class="fa fa-close">*@
                                        <a class="fa fa-close" href="@url">remove</a>
                                        @*</i>*@
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="@Url.Action("Index", "Product")">Continue Shopping</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>

                            <li>Total <span>@("$ " + sum.ToString())</span></li>
                        </ul>
                        @{
                            string URL = "/cart/{customerId}/Checkout";
                            URL = URL.Replace("{customerId}", User.Claims.ToList()[0].Value);

                        }
                        <a href="@URL" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
    <!-- Js Plugins -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/mixitup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>
